.title{display: none;}
.service {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .imgwrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .img {
      overflow: hidden;
      position: relative;
      width: 80%;
      height: 50%;
      border-radius: 5px;
    }
  }

  .content {
    display: flex;
    width: 50%;
    justify-content: center;
    * {
      width: 80%;
      margin-bottom: 2vh;
    }
    h2 {
      font-size: 2em;
      font-weight: 300;
    }
    p {
      line-height: 1.25em;
      font-size: 1.25em;
      font-weight: 200;
    }
    // div{
    //     width: 75%;
    // }
  }

}

@media screen and (max-width: 426px) {
  .title{
    display: block;
    font-weight: 400;
    width: 90%;
    margin:auto;
    border-bottom: 1px solid black;
    padding-bottom: .5em;
  }
  .container{
    margin: 20vh 0;
  }
  .service{
    flex-direction: column;
    margin: 2em 0;

    .imgwrapper,
    .content{
      width: 90%;
      display: block;
      *{
        width: 100%;
      }
    }

    .content{
      div{
        p{
          text-align: justify;
        }
      }
    }

    .imgwrapper{
      height: 50vh;
      .img{
        height: 100%;
        width: 100%;
      }
    }

  &:nth-of-type(odd),
  &:nth-of-type(even) {
    .imgwrapper {
      order: 1;
    }
    .content {
      order: 2;
    }
  }

  }
    
}

.action {
  background-color: black;
  padding: 0.5em 5em;
  color: white;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.09em;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}